# Miscellaneous
env/
dataset/
.DS_Store
.env
.idea
.vscode
.flutter-plugins-dependencies
.flutter-plugins

# Build artifacts
/build/

# IDE files
# e.g., VS Code files that are typically user-specific and shouldn't be shared
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

# Dependencies
# Flutter pub packages and cached files
.packages
.dart_tool/

# Android-specific
android/.gradle
android/local.properties
android/key.properties
/android/captures
/android/build
/android/**/GeneratedPluginRegistrant.java
/android/.idea
/android/app/build
/android/app/.cxx
/android/app/.externalNativeBuild

# iOS/macOS-specific
ios/.symlinks
ios/Flutter/.symlinks
ios/Pods
ios/Runner.xcworkspace
ios/Runner.xcuserdatad
ios/Runner.xcodeproj/project.pbxproj.bak
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter-bridge.swift

macos/.symlinks
macos/Pods
macos/Runner.xcworkspace
macos/Runner.xcuserdatad
macos/Runner.xcodeproj/project.pbxproj.bak
macos/Flutter/Generated.xcconfig
macos/Flutter/Flutter-bridge.swift

# Web-specific (if you build for web)
/web/index.html
/web/flutter_service_worker.js
/web/manifest.json

# Windows-specific
windows/flutter/generated_plugins.cmake
windows/runner/*.vcxproj.user
windows/runner/flutter_window.cpp
windows/runner/flutter_window.h

# Linux-specific
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugins.h
linux/runner/generated_plugins.h
linux/runner/generated_plugins.cc

# Testing
# e.g., coverage reports
/coverage